* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right top, #c3aed6, #e4e6f7);
    color: #333;
}

.form-container {
    background-color: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
}

form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    font-weight: 600;
}

.input-group {
    margin-bottom: 1.25rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.input-group input::placeholder {
    color: #aaa;
}

.input-group input:focus {
    outline: none;
    border-color: #8e44ad;
    box-shadow: 0 0 8px rgba(142, 68, 173, 0.2);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #8e44ad; 
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1rem;
}

button:hover {
    background-color: #732d91; /* Tom de roxo mais escuro */
}

.login-link {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #666;
}

.login-link a {
    color: #8e44ad;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.login-link a:hover {
    text-decoration: underline;
    color: #732d91;
}

@media (max-width: 480px) {
    .form-container {
        padding: 1.5rem;
    }

    form h1 {
        font-size: 1.8rem;
    }
}